.card-icon {
  width: 32px;
  height: 21px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.paypal-icon {
  width: 16px;
  height: 21px;
  margin-right: 20px;
  margin-left: 6px;
}

.option {
  display: flex;
  align-items: center;
}
