@import '../../../config/variables';

.card-container {
  padding: 0 20px 15px 20px;
  border-bottom: $grey-lightest-line;

  label {
    font-weight: 500;
  }
}

.error {
  color: $error-color;
  font-size: 12px;
  margin-top: 10px;
}

.paypal-btn-container {
  margin-top: 15px;
}
